.heading-primary {
}

.heading-secondary {
}

.heading-tertiary {
}

.heading-quaternary {
}

.text-regular {
  font-size: 1.4rem;
}

.text-big {
  font-size: 1.6rem;
}

.text-bigger {
}

.text-small {
  font-size: 1.15rem;
}

.text-ultrasmall {
}
