// colors
$color-blue: #387ed1;
$color-dark: #424242;
$color-white: #fff;
$color-light: #fafafb;
$color-grey-1: #ededed;
$color-grey-2: #9b9b9b;
$color-grey-3: #666666;

// widths and spacing
$container-max-width: 110rem;
